* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    opacity: .4;
    background-color: transparent;
}

::-moz-placeholder {
    opacity: .4;
    background-color: transparent;
}

::-webkit-input-placeholder {
    opacity: .4;
    background-color: transparent;
}

/* Theme grid */
.full_width_container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.box_width_container {}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
}

/* Theme grid end */

/* ************************************* */
/* Typography Theme css start from here */
/* ************************************* */
html,
body {
    background-color: #010E43;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    opacity: .6;
    font-weight: 500;
    text-decoration: none;
    transition: linear .2s;
}

a:hover {
    color: #1340F0;
    opacity: 1;
    transition: linear .2s;
}

p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    opacity: .6;
    font-weight: 500;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    opacity: .8;
    font-weight: 500;
    margin: 25px 0;
}

h2 {
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    opacity: .8;
    font-weight: 500;
    margin: 25px 0;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    opacity: .8;
    font-weight: 500;
    margin: 25px 0;
}

h4 {
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
    opacity: .8;
    font-weight: 500;
    margin: 25px 0;
}

h5 {
    font-size: 14px;
    line-height: 36px;
    color: #ffffff;
    opacity: .8;
    font-weight: 500;
    margin: 25px 0;
}

h6 {
    font-size: 12px;
    line-height: 36px;
    color: #ffffff;
    opacity: .8;
    font-weight: 500;
    margin: 25px 0;
}

ul {

    margin: 0;
    padding: 0;
    margin-left: 27px
}

ul li {
    font-size: 15px;
    line-height: 19px;
    color: #ffffff99;
    list-style: url(../images/icons/marker.png);
    padding-left: 10px;
    margin-bottom: 12px;
}

ul li::marker {
    opacity: 1;
}

.element_title {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    opacity: 1;
    font-weight: 500;
    margin: 30px 0;
    width: min-content;
}

.heading_sec {
    margin-bottom: 70px;
}

.paragraphs_sec {
    margin-bottom: 45px;
}

.text_sm {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    opacity: .6;
    font-weight: 500;
    margin-bottom: 30px;
}

.text_lead {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
}

.a_tag_sec {
    margin-bottom: 50px;
    float: left;
    margin-right: 100px;
}

.p_tag_sec {
    margin-bottom: 50px;
    float: left;
    margin-right: 100px;
}

.error_sec {
    margin-bottom: 50px;
    float: left;
    margin-right: 100px;
}

.error {
    color: #ff0000;
    opacity: 1;
    font-size: 16px;
}

.success_sec {
    margin-bottom: 50px;
    float: left;
}

.success {
    color: #008000;
    opacity: 1;
    font-size: 16px;
}

.list_tag_sec {
    margin-bottom: 50px;
    float: left;
}

.page_title {
    font-size: 18px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 3px solid #294CD2;
    opacity: 1;
    width: min-content;
    margin-bottom: 30px;
}

.common_tag_sec {
    overflow: hidden;
}

.list_exp {
    margin-right: 70px;
}

.theme_breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
}

.theme_breadcrumb li {
    list-style: none;
    display: table-cell;
    background: #F3F5FA;
    margin: 0;
    padding: 0;
}

.theme_breadcrumb li a {
    opacity: 1;
    color: #BBBBBB;
    padding: 9px 30px;
    display: block;
    position: relative;
    padding-left: 50px;
}

.theme_breadcrumb li a:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 6px;
    bottom: 0;
    border-top: 2px solid #E0E6ED;
    border-right: 2px solid #E0E6ED;
    transform: rotate(45deg);
    height: 27.5px;
    width: 27.5px;
    background: #F3F5FA;
}

.theme_breadcrumb li:last-child {
    background: #1340F0;
}

.theme_breadcrumb li:last-child a {
    color: #ffffff;
    pointer-events: none;
}

.theme_breadcrumb li:last-child a:after {
    border: none;
    background: #1340F0;
    right: -14px;
    top: 7px;
}

.theme_breadcrumb li:first-child {
    border-radius: 3px 0 0 3px;
    background: #ffffff;
}

.theme_breadcrumb li:first-child a {
    padding-left: 30px
}

.theme_breadcrumb li:first-child a:after {
    background: #ffffff;
}

.theme_breadcrumb li a img {
    position: relative;
    top: 2px;
}

.material_breadcrumb {
    margin: 0;
    padding: 0;
}

.material_breadcrumb li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    padding: 15px 0px;
}

.material_breadcrumb li:last-child a {
    color: #1340F0;
    pointer-events: none;
    opacity: 1;
}

.material_breadcrumb li a:after {
    content: url(../images/icons/arrow.png);
    margin: 0 25px;
}

.material_breadcrumb li:last-child a:after {
    display: none;
}


.traditional_breadcrumb {
    margin: 0;
    padding: 0;
}

.traditional_breadcrumb li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    padding: 15px 0px;
}

.traditional_breadcrumb li:last-child a {
    color: #1340F0;
    pointer-events: none;
    opacity: 1;
}

.traditional_breadcrumb li a:after {
    content: url(../images/icons/bay.png);
    margin: 0 25px;
}

.traditional_breadcrumb li:last-child a:after {
    display: none;
}

.mt-5 {
    margin-top: 50px;
}

.mt-3 {
    margin-top: 30px;
}

/* ************************************* */
/* Typography Theme css end here */
/* ************************************* */
header {
    border-bottom: 2px solid #3A446D;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #010E43;
}

nav {
    padding: 30px 0 0 0 !important;
    align-items: flex-start !important;
    width: 100%;
}


.sidebar-wrapper {
    z-index: 1;
    position: absolute;
    overflow-y: hidden;
    border-right: 2px solid #3A446D;
    width: 20%;
    float: left;
    top: 77px;
    bottom: 0;
    transition: linear .2s;
}

.sidebar-wrapper:hover {
    transition: linear .2s;
    overflow-y: auto;
}

.brand-logo {
    width: 245px;
    padding: 25px;
    padding-bottom: 15px;
    padding-left: 40px;
}

.brand-logo a {
    display: block;
    position: relative;
    top: -3px;
    opacity: 1;
    width: 100%;
}

.brand-logo img {
    width: 100%;
}



.header-nav {
    float: right;
}

.header-nav ul {
    margin: 0;
    list-style: none;
    padding-right: 20px;
}

.header-nav ul li {
    display: inline-block;
    padding: 25.5px 30px;
    position: relative;
    margin-bottom: 0;
}

.header-nav ul li:after {
    content: "";
    padding: 12px 1px;
    background: #BDBDBD;
    opacity: .8;
    position: absolute;
    right: 0;
}

.header-nav ul li:last-child:after {
    display: none;
}

.header-nav ul li a {
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    opacity: .8;
}

.web_page {
    overflow: hidden;
}

.theme-nav {
    display: initial;
    width: 100%;
    margin: 0;
    padding: 0;
}

.theme-nav li {
    display: block;
    padding: 0;
    margin: 0;
    opacity: 1;
}

.theme-nav li a {
    color: #ffffff96;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 15px 12px 40px !important;
    transition: linear .2s;
    background: #0000;
    display: block;
    opacity: 1;
}

.theme-nav li a:hover {
    background: #ffffff05;
    transition: linear .2s;
}

.page {
    width: 80%;
    float: right;
}

.page_wrapper {
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
}